.changeLangButtons {
  position: fixed;
  left: 2rem;
  top: 3rem;
  width: 19rem;
  height: 6rem;
  border-radius: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;

  .korean,
  .english {
    position: absolute;
    margin: 0 1rem;
  }

  .korean {
    left: 0;
  }

  .english {
    right: 0;
  }

  button {
    width: 60%;
    height: 5.5rem;
    position: absolute;
    right: 1.5rem;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    transition: right 0.5s;

    &.en {
      right: 7.5rem;
    }
  }
}
