@import "../../styles/variables.scss";

.alertsList {
  position: absolute;
  top: 1rem;
  left: 0;
  z-index: 999;
}

.alert {
  padding: 2rem 3rem;
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.alert-success {
  background: $green;
}

.alert-danger {
  background: red;
}

.alert-info {
  background: $blue;
}

.alert-warning {
  background: orange;
}
