@import "../../styles/variables.scss";

.signUpPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;

    input,
    button {
      height: 6rem;
      width: 30rem;
      background: white;
      border-radius: 1rem;
      border: 2px solid $blue;
      font-size: 2.2rem;
      cursor: pointer;
    }

    input {
      margin-bottom: 2rem;
      padding-left: 2rem;
    }
  }

  a {
    font-size: 2.2rem;
    margin-top: 3.5rem;
  }
}
