@import "../../styles/mediaQueries";

.toggleNavButton {
  position: fixed;
  right: 3rem;
  top: 3rem;
  background: none;
  border: none;
  width: 7rem;
  height: 7rem;
}

nav {
  padding: 3rem;

  &.show {
    right: 0;
  }

  @include mq768 {
    position: fixed;
    right: -25rem;
    top: 7rem;
    width: 25rem;
    height: 55rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    height: 100%;

    @include mq768 {
      flex-direction: column;
      align-items: flex-end;
    }

    a {
      text-decoration: none;
    }
  }
}
