@import "../../styles/mediaQueries.scss";
@import "../../styles/variables.scss";

.foodsContainer {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;

    input,
    button {
      height: 100%;
      border: 2px solid $blue;
      padding: 1.5rem;

      @include mq450 {
        padding: 1rem;
      }
    }

    input {
      width: 23rem;
      border-radius: 1rem 0 0 1rem;
    }

    button {
      width: 9rem;
      background: none;
      border-radius: 0 1rem 1rem 0;
      cursor: pointer;
    }
  }

  .foods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5rem;

    .food {
      width: 15rem;
      max-height: 17rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      margin: 0 1.5rem 5rem;
      font-size: 2.2rem;
      border: 2px solid $blue;
      border-radius: 1rem;
      background: white;

      span {
        margin-bottom: 2rem;
        line-height: 3rem;

        @include mq450 {
          margin-bottom: 1rem;
        }
      }

      .buttonsContainer {
        display: flex;
        justify-content: space-around;

        button {
          background: none;
          border: none;
          width: 10rem;
          height: 5rem;
          cursor: pointer;

          @include mq450 {
            height: 3rem;
          }
        }
      }

      @include mq450 {
        margin: 0 0 3rem;
      }
    }

    @include mq450 {
      margin-top: 3rem;
    }
  }
}
