.foodsContainer {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    font-size: 2.2rem;

    input,
    button {
      height: 100%;
      border: 2px solid blue;
    }

    input {
      width: 220px;
      padding-left: 1.5rem;
      border-radius: 1rem 0 0 1rem;
    }

    button {
      width: 100px;
      background: none;
      border-radius: 0 1rem 1rem 0;
      cursor: pointer;
    }
  }

  .foods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 6rem;

    .food {
      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 6rem;
      font-size: 2.2rem;
      border: 2px solid blue;
      border-radius: 1rem;

      span {
        margin-bottom: 3rem;
      }

      button {
        background: none;
        border: none;
        width: 5rem;
        cursor: pointer;
      }
    }
  }
}
