@import "../../styles/mediaQueries.scss";

.chemotherapyContainer {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;

    input,
    button {
      height: 100%;
      border: 2px solid blue;
      border-radius: 1rem;
      padding: 1.5rem;
      width: 320px;
    }

    input {
      margin-bottom: 3rem;
    }

    button {
      background: none;
      cursor: pointer;
    }
  }

  .chemotherapies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    .chemotherapy {
      width: 320px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5rem;
      padding: 1.5rem;
      font-size: 2.2rem;
      border: 2px solid blue;
      border-radius: 1rem;
      background: white;

      span {
        display: block;
        width: 70%;
        line-height: 3rem;
      }

      .buttonsContainer {
        display: flex;
        justify-content: space-between;
        width: 30%;

        button {
          background: none;
          border: none;
          width: 70%;
          height: 3.5rem;
          cursor: pointer;
        }
      }

      @include mq450 {
        margin-bottom: 3rem;
      }
    }

    @include mq450 {
      margin-top: 3rem;
    }
  }
}
