@import "../../styles/mediaQueries.scss";
@import "../../styles/variables.scss";

.sideEffectsContainer {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;

    input,
    button {
      border: 2px solid $blue;
      padding: 1.5rem;

      @include mq450 {
        padding: 1rem;
      }
    }

    input {
      width: 47rem;
      border-radius: 1rem 0 0 1rem;

      @include mq450 {
        width: 23rem;
      }
    }

    button {
      width: 10rem;
      background: white;
      border-radius: 0 1rem 1rem 0;
      cursor: pointer;

      @include mq450 {
        width: 9rem;
      }
    }
  }

  .sideEffects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    .sideEffect {
      width: 57rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      padding: 1rem;
      font-size: 2.2rem;
      border: 2px solid $blue;
      border-radius: 1rem;
      background: white;

      span {
        width: 50rem;
        line-height: 3rem;

        &.fullWidth {
          width: 57rem;

          @include mq450 {
            width: 32rem;
          }
        }

        @include mq450 {
          width: 25rem;
        }
      }

      .buttonsContainer {
        width: 7rem;
        display: flex;
        align-items: center;

        button {
          background: none;
          border: none;
          height: 5rem;
          cursor: pointer;
        }

        @include mq450 {
          width: 15rem;
        }
      }

      @include mq450 {
        width: 32rem;
      }
    }
  }
}
