@import "../../styles/mediaQueries.scss";
@import "../../styles/variables.scss";

.chemotherapyContainer {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;

    input,
    button {
      height: 100%;
      border: 2px solid $blue;
      border-radius: 1rem;
      padding: 1.5rem;
      background: white;
    }

    input {
      width: 57rem;
      margin-bottom: 3rem;

      @include mq450 {
        width: 32rem;
      }
    }

    button {
      width: 15rem;
      cursor: pointer;

      &:hover {
        background: $blue;
        color: white;
      }
    }
  }

  .chemotherapies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    .chemotherapy {
      width: 57rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      padding: 1.5rem;
      font-size: 2.2rem;
      border: 2px solid $green;
      border-radius: 1rem;
      background: white;

      span {
        width: 39rem;
        line-height: 3rem;

        &.fullWidth {
          width: 52rem;

          @include mq450 {
            width: 27rem;
          }
        }

        @include mq450 {
          width: 22rem;
        }
      }

      .buttonsContainer {
        display: flex;
        justify-content: flex-end;

        button {
          background: none;
          border: none;
          width: 10rem;
          height: 3.5rem;
          cursor: pointer;
        }
      }

      @include mq450 {
        width: 32rem;
        padding: 1rem;
      }
    }
  }
}
